<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lark</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lark</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_HOST</key>
	<string>$(SUPABASE_HOST)</string>
	<key>SUPABASE_SCHEME</key>
	<string>$(SUPABASE_SCHEME)</string>
    
    <key>NSCameraUsageDescription</key>
    <string>Necesitamos acceso a tu cámara para verificar tu identidad mediante fotos de tu documento y selfie</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a tus fotos para seleccionar documentos de identidad</string>
        
</dict>
</plist>
